@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-purple:#9855FF;
    --light-purple:#B372CF;
}


body {
    background-color: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0;
}
.container {
    @apply w-[90%] max-w-[1200px];
}

/* from-[10%] block via-[50%] to-[90%] bg-gradient-to-r from-transparent via-white to-transparent */
.test_horizontal_line {
    background-image: linear-gradient(to right,
        transparent,
        #ffffff56,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff56,
        transparent
    );
    @apply z-10 absolute block h-[2px] !w-[170%] md:!w-full left-1/2 -translate-x-1/2;
}


.test_vertical_line {
    background-image: linear-gradient(to bottom,
        transparent,
        #ffffff56,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff79,
        #ffffff56,
        transparent
    );
    @apply z-10 absolute block w-[2px] !h-[170%] top-1/2 -translate-y-1/2;

}