@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-purple:#9855FF;
    --light-purple:#B372CF;
}


body {
    background-color: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0;
}
.container {
    @apply w-[90%] max-w-[1200px];
}